@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*- Mobile: 375px*/
/*- Desktop: 1440px*/


/*font-family: ;*/
/*font-size: 15px;*/
:root {
    --white: #fff;
    --gray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
body{
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container{
    margin: 30px;
    padding: 80px;
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    transition: background-color 300ms;
    width: 100%;
}

.img{
    border-radius: 10px !important;
    width: 220px;
    height: 220px;
    display: block;
    /*margin: 0 auto;*/
    /*margin-left: 10px;*/
}
.card{
    background-color: white;
    width: 200px;
    height: 360px;
    border-radius: 10px;
    padding: 20px;
    display: flex; /* add flexbox */
    flex-direction: column; /* set flex direction to column */
    justify-content: center; /* center the items vertically */
    align-items: center; /* center the items horizontally */
    margin: 0 auto;
}
.text{
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Outfit', sans-serif;
    color: hsl(221deg 8% 60%);
}
.title{
    font-size: 16px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    padding-top: 20px;
}
