@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*- Mobile: 375px*/
/*- Desktop: 1440px*/


/*font-family: ;*/
/*font-size: 15px;*/
:root {
    --white: #fff;
    --gray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}
.container{
    margin: 30px;
    padding: 80px;
    display: block;
    -webkit-user-select: none;
    margin: auto;
    cursor: zoom-in;
    background-color: var(--gray);
    transition: background-color 300ms;
    width: 100%;
}

.img{
    border-radius: 10px !important;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;

}
.card{
    background-color: var(--white);
    width: 200px;
    height: 320px;
    border-radius: 10px;
    padding: 20px; /* add some padding here */
    display: block;
    margin: 0 auto;
}
.text{
    font-size: 12px;
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Outfit', sans-serif;
    color: hsl(221deg 8% 60%);
}
.title{
    font-size: 16px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}
